<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/script.js"></script>
</head>
<body>

<div class="background-menu">
  <div>
    <h1 class="style-h1">Majesté Import-Export</h1>
  </div>
  <header>
    <nav>
      <ul>
        <button class="btn" ><a class="a3" th:href="@{/formDepartement}">Gérer un département</a></button>
        <button class="btn" ><a class="a3" th:href="@{/formEmploi}">Gérer un emploi</a></button>
        <button class="btn" ><a class="a3" th:href="@{/formEmploye}">Gérer un employé</a></button>
        <button class="btn" ><a class="a3" th:href="@{/departements}">Liste des département</a></button>
        <button class="btn" ><a class="a3" th:href="@{/emplois}">Liste des emplois</a></button>
      </ul>
    </nav>
  </header>
</div>



<div class="table-container">
  <h1 id="welcomeMessage" class="h1-home" >Bienvenue dans l’application de gestion des ressources humaines</h1>

</div>


<div class="divNone">
  <h2 class="h1-liste">Liste des employés avec leur département et leur emploi</h2>

  <div class="table-container">
    <label class="rechEmp">Rechercher Employé Par Son Prénom :</label>
    <input type="text" id="searchInput" placeholder="Rechercher un employé...">
  </div>

  <div class="table-container">
    <table>
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>E-mail</th>
        <th>Salaire</th>
        <th>Date d'ambauche</th>
        <th>Travail</th>
        <th>Département</th>
        <th>Action</th>
      </tr>
      <tr th:each="employe : ${employes}">
        <td th:text="${employe.id}"></td>
        <td th:text="${employe.prenom}"></td>
        <td th:text="${employe.nom}"></td>
        <td th:text="${employe.email}"></td>
        <td th:text="${employe.salaire}"></td>
        <td th:text="${employe.dateEmbauche}"></td>
        <td th:text="${employe.titreEmploi}"></td>
        <td th:text="${employe.nomDepartement}"></td>
        <td class="tdAction">
          <button type="button" class="btn-modifier btnModif" th:attr="data-id=${employe.id}">Modifier</button>
          <form action="/deleteEmploye/${employe.id}" method="POST" class="formDel">
            <input type="hidden" name="_method" value="DELETE">
            <button type="button" class="btn-delete btnDel" th:attr="data-id=${employe.id}">Supprimer</button>
          </form>
        </td>

      </tr>
    </table>
  </div>
</div>


</body>
</html>
